canvas {
  margin: 20px auto;
  display: block; }

body {
  background: url(../images/bg.jpg) no-repeat center;
  background-size: cover;
  height: 100%;
  margin: 0;
  font-family: "Ubuntu", sans-serif; }
  body.win .overlay {
    opacity: 1; }
    body.win .overlay .image {
      background: url(../images/win.gif) no-repeat center;
      background-size: cover; }
    body.win .overlay .if-fail {
      display: none; }
  body.fail .overlay {
    opacity: 1; }
    body.fail .overlay .image {
      width: 100%;
      height: 400px;
      margin-bottom: 10px;
      background: url(../images/fail.gif) no-repeat center;
      background-size: cover; }
  body.fail .if-win {
    display: none; }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: table;
  opacity: 0;
  transition: all 0.5s;
  color: white;
  font-size: 25px; }
  .overlay .popup-row {
    display: table-row; }
    .overlay .popup-row .popup-cell {
      text-align: center;
      display: table-cell;
      vertical-align: middle; }
  .overlay .popup-inner {
    width: 800px;
    display: inline-block;
    text-align: left; }
  .overlay .image {
    width: 250px;
    height: 600px;
    float: left;
    margin-right: 20px; }
  .overlay .count {
    margin: 10px 0; }
  .overlay .btn {
    font-size: 16px;
    cursor: pointer;
    border: 1px solid white;
    transition: all 0.5s;
    display: inline-block;
    padding: 5px 10px; }
    .overlay .btn:hover {
      background: white;
      color: black; }

.hud {
  color: white; }

.markup-test {
  background: #f7f9fa none;
  color: #5a5a5a; }
  .markup-test h2 {
    font-size: 18px;
    text-transform: uppercase; }
  .markup-test .container {
    width: 1024px;
    margin: 0 auto; }
  .markup-test table {
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    width: 100%;
    border-spacing: 0;
    overflow: hidden; }
    .markup-test table tr {
      background: #fbfbfb; }
      .markup-test table tr:nth-child(odd) {
        background: white; }
    .markup-test table th, .markup-test table td {
      vertical-align: middle;
      border-bottom: 1px solid #d8d9da;
      text-align: right;
      padding: 5px 20px; }
      .markup-test table th.align-left, .markup-test table td.align-left {
        text-align: left;
        padding: 5px 10px; }
    .markup-test table th {
      background: #ecf0f3;
      color: #545454;
      font-weight: 400; }
    .markup-test table td {
      font-size: 16px;
      font-weight: 500; }
  .markup-test .user {
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 60px;
    min-height: 50px;
    position: relative;
    width: 100%; }
    .markup-test .user .ava {
      position: absolute;
      left: 0;
      height: 50px;
      width: 50px;
      top: 0;
      border-radius: 3px;
      overflow: hidden; }
    .markup-test .user .name {
      font-size: 14px;
      color: #2c76c7;
      margin-bottom: 5px;
      font-weight: 500;
      line-height: 18px; }
    .markup-test .user .progress i {
      color: #b6b6b6; }
    .markup-test .user .follow-toggler {
      background: #b6b6b6;
      color: white;
      width: 18px;
      height: 18px;
      border-radius: 9px;
      cursor: pointer;
      display: inline-block;
      margin-left: 10px;
      line-height: 18px;
      font-size: 13px;
      padding: 0 4px;
      position: relative;
      vertical-align: top;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      overflow: hidden; }
      .markup-test .user .follow-toggler > span {
        height: 100%; }
      .markup-test .user .follow-toggler .text {
        opacity: 0;
        text-transform: capitalize;
        width: 0;
        height: 0;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
      .markup-test .user .follow-toggler i {
        opacity: 1;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s; }
      .markup-test .user .follow-toggler .unfollow {
        display: none; }
      .markup-test .user .follow-toggler:hover {
        background: #a4c574;
        width: auto;
        height: auto;
        padding: 0 5px; }
        .markup-test .user .follow-toggler:hover .text {
          opacity: 1;
          position: relative;
          z-index: 1;
          width: auto;
          height: auto; }
        .markup-test .user .follow-toggler:hover i {
          opacity: 0;
          width: 0;
          height: 0;
          overflow: hidden;
          display: inline-block; }
    .markup-test .user.following .follow-toggler {
      background: #a4c574; }
      .markup-test .user.following .follow-toggler .follow {
        display: none; }
      .markup-test .user.following .follow-toggler .unfollow {
        display: inline-block; }
      .markup-test .user.following .follow-toggler:hover {
        background: red; }

/*# sourceMappingURL=style.css.map */
